video{
    height: 100%; 
    width: 100%;
}
#find_height{
    height: 100vh;
    position: absolute;
    background-color: blue;
}
.videos{
    overflow-y: auto;
    /* overflow: hidden; */
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.videos::-webkit-scrollbar{
    display: none;
}

.video_item{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}