<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../zstatic/css/index.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datphones</title>
</head>
<body>
    
    <form action="" method="get">
    <div class="logo">
        <div>Datphones</div>
        <div class="search"><input type="search"><button>Search</button></div>
    </div>
    </form>
    <div class="nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
          </ul>
    </div>
    
<div class="browse_devices">
    <div>BROWSE DEVICES</div>
    <div class="browse_section">
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
        <div class="browse_section_item">
            <div class="browse_section_image"><img src="../zstatic/img/iphones.avif" alt=""></div>
            <div>Name</div>
        </div>
    </div>
</div>

<div class="most_searched_devices">
    <div>MOST SEARCHED DEVICES</div>
    <div class="most_searched">
        <div class="most_searched_item">
            <p class="browse_section_image"><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>
                <div>Name</div>
                <div class="price">
                    <div>&#8358;Price </div>
                    <div>&nbsp;<s>&#8358;Slashed Price</s></div>
                </div>
            </p>
        </div>
        <div class="most_searched_item">
            <p class="browse_section_image"><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>
                <div>Name</div>
                <div class="price">
                    <div>&#8358;Price </div>
                    <div>&nbsp;<s>&#8358;Slashed Price</s></div>
                </div>
            </p>
        </div>
        <div class="most_searched_item">
            <p><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>
                <div>Name</div>
                <div>Price</div>
                <div>Slashed Price</div>
            </p>
        </div>
        <div class="most_searched_item">
            <p><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>Description</p>
        </div>
        <div class="most_searched_item">
            <p><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>Description</p>
        </div>
        <div class="most_searched_item">
            <p><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>Description</p>
        </div>
        <div class="most_searched_item">
            <p><img src="../zstatic/img/androids.avif" alt=""></p>
            <p>Description</p>
        </div>
    </div>
</div>
<a id="reviews">
</a>
<div class="customer_reviews">
    <div>CUSTOMER REVIEWS FOR DATPHONES</div>
    <div class="customer_reviews_section">
        <div class="customer_reviews_item"><a href="./video_review.html#video1"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></a></div>
        <div class="customer_reviews_item"><a href="./video_review.html#video2"><img src="./review2.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></a></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
        <div class="customer_reviews_item"><img src="./review1.gif" alt=""><div class="play"><iconify-icon icon="ph:play-fill" height="30px" style="text-decoration: none;color:white"></iconify-icon></div></div>
    </div>
</div>
<div>WELCOME TO DATSPHONESNG. YOUR TRUSTED CONNECTION TO RELIABLE, CERTIFIED PRE-OWNED DEVICES.</div>
<div class="trusted">
    <div class="trusted_item">
        <!-- <div>hi</div> -->
        <div class="trusted_item_1"><img src="../zstatic/img/shipping.avif" alt=""></div>
        <div>Get your devices FAST.</div>
        <div class="trusted_item_3">3</div>
        <!-- <div></div> -->
    </div>
    <div class="trusted_item">
        <div class="trusted_item_1"><img src="../zstatic/img/badge.avif" alt=""></div>

        <div>Worry-free experience.</div>
        <div class="trusted_item_3">3</div>
        <!-- <div></div> -->
    </div>
    <div class="trusted_item">
        <div class="trusted_item_1"><img src="../zstatic/img/calender.avif" alt=""></div>

        <div>30-Day Return Policy</div>
        <div class="trusted_item_3">3</div>
        
    </div>
    <div class="trusted_item">
        <div class="trusted_item_1"><img src="../zstatic/img/datapp.avif" alt=""></div>

        <div>Daily deals and app-exclusive specials.</div>
        <div class="trusted_item_3">3</div>
        
    </div>
  </div>

<div class="typed_reviews">
    <div>RECENT REVIEWS</div>
    <div class="typed_reviews_section">
        <div class="typed_reviews_item">
            <div class="product">
                <p><img src="../zstatic/img/accessories.avif" alt="" width="40px" height="40px" style="object-fit: contain;border: 1px solid grey; border-radius: 4px;"></p>
                <p>Accessories</p>
                <div class="stars">
                    <div id="star1"></div>
                    <div id="star2"></div>
                    <div id="star3"></div>
                    <div id="star4"></div>
                    <div id="star5"></div>

                </div>
                <div id="rating">1.3</div>
            </div>
            <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta nihil a eos, esse fuga nam, quaerat odio <a href="#" style="text-decoration: none; color: black;"><u>read more</u></a><div class="date">DATE</div></div>
            
            <div class="pictures">
                <img src="../zstatic/img/androids.avif" alt="">
                <img src="../zstatic/img/androids.avif" alt="">
                <button>+ 2 More</button>
            </div>
            <div class="user">
                Firstname Lastname
            </div>
        </div>
        <div class="typed_reviews_item">
            <div class="product">
                <p><img src="../zstatic/img/accessories.avif" alt="" width="40px" height="40px" style="object-fit: contain;border: 1px solid grey; border-radius: 4px;"></p>
                <p>Accessories</p>
                <div class="stars">
                    <div id="star1"></div>
                    <div id="star2"></div>
                    <div id="star3"></div>
                    <div id="star4"></div>
                    <div id="star5"></div>

                </div>
                <div id="rating">1.3</div>
            </div>
            <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta nihil a eos, esse fuga nam, quaerat odio <a href="#" style="text-decoration: none; color: black;"><u>read more</u></a><div class="date">DATE</div></div>
            
            <div class="pictures">
                <img src="../zstatic/img/androids.avif" alt="">
                <img src="../zstatic/img/androids.avif" alt="">
                <button>+ 2 More</button>
            </div>
            <div class="user">
                Firstname Lastname
            </div>
        </div>
        <div class="typed_reviews_item">
            <div class="product">
                <p><img src="../zstatic/img/accessories.avif" alt="" width="40px" height="40px" style="object-fit: contain;border: 1px solid grey; border-radius: 4px;"></p>
                <p>Accessories</p>
                <div class="stars">
                    <div id="star1"></div>
                    <div id="star2"></div>
                    <div id="star3"></div>
                    <div id="star4"></div>
                    <div id="star5"></div>

                </div>
                <div id="rating">1.3</div>
            </div>
            <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta nihil a eos, esse fuga nam, quaerat odio <a href="#" style="text-decoration: none; color: black;"><u>read more</u></a><div class="date">DATE</div></div>
            
            <div class="pictures">
                <img src="../zstatic/img/androids.avif" alt="">
                <img src="../zstatic/img/androids.avif" alt="">
                <button>+ 2 More</button>
            </div>
            <div class="user">
                Firstname Lastname
            </div>
        </div>
        <div class="typed_reviews_item">
            <div class="product">
                <p><img src="../zstatic/img/accessories.avif" alt="" width="40px" height="40px" style="object-fit: contain;border: 1px solid grey; border-radius: 4px;"></p>
                <p>Accessories</p>
                <div class="stars">
                    <div id="star1"></div>
                    <div id="star2"></div>
                    <div id="star3"></div>
                    <div id="star4"></div>
                    <div id="star5"></div>

                </div>
                <div id="rating">1.3</div>
            </div>
            <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta nihil a eos, esse fuga nam, quaerat odio <a href="#" style="text-decoration: none; color: black;"><u>read more</u></a><div class="date">DATE</div></div>
            
            <div class="pictures">
                <img src="../zstatic/img/androids.avif" alt="">
                <img src="../zstatic/img/androids.avif" alt="">
                <button>+ 2 More</button>
            </div>
            <div class="user">
                Firstname Lastname
            </div>
        </div>
        <div class="typed_reviews_item">
            <div class="product">
                <p><img src="../zstatic/img/accessories.avif" alt="" width="40px" height="40px" style="object-fit: contain;border: 1px solid grey; border-radius: 4px;"></p>
                <p>Accessories</p>
                <div class="stars">
                    <div id="star1"></div>
                    <div id="star2"></div>
                    <div id="star3"></div>
                    <div id="star4"></div>
                    <div id="star5"></div>

                </div>
                <div id="rating">1.3</div>
            </div>
            <div class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta nihil a eos, esse fuga nam, quaerat odio <a href="#" style="text-decoration: none; color: black;"><u>read more</u></a><div class="date">DATE</div></div>
            
            <div class="pictures">
                <img src="../zstatic/img/androids.avif" alt="">
                <img src="../zstatic/img/androids.avif" alt="">
                <button>+ 2 More</button>
            </div>
            <div class="user">
                Firstname Lastname
            </div>
        </div>
    </div>
</div>

<div class="about_datphones">
    <div>ABOUT DATPHONES</div>
    <div class="view_all" style="display: flex; cursor: pointer;">
        <div style="width: fit-content;background-color: #fff;">View all&nbsp;</div>
        <div><iconify-icon icon="mingcute:arrow-right-fill" width="1em"></iconify-icon></div>
    </div>

</div>

<div class="about_us">
    <div style="width: 30em;">
        <div>About DATPHONESNG</div>
        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, debitis sunt! Nam, illo doloribus error harum quisquam exercitationem in et hic sit eveniet consequatur laborum mollitia excepturi modi quo minus?</div>
    </div>
    <div>
        <div>Quick Links</div>
        <div>Iphones</div>
        <div>Androids</div>
        <div>Macs</div>
        <div>Headphones</div>
    </div>
    <div>
        <div>NEWSLETTER</div>
        <div>Subscribe to keep with latest deals.</div>
        <form action="" method="post">
            <div><input type="text" placeholder="email" id=""></div>
        </form>
        <div><button>Subscribe</button></div>
    </div>
</div>
<div class="following">
    <div class="developer">Devoloped by Joe</div>
    <div>
        <div>Follow us:</div>
        <div class="buttons">
            <div><iconify-icon icon="ic:baseline-facebook" width="32px"></iconify-icon></div>
            <div><iconify-icon icon="ri:instagram-fill" width="32px"></iconify-icon></div>
            <div><iconify-icon icon="ri:whatsapp-fill" width="32px"></iconify-icon></div>
            <div></div>
        </div>
    </div>
</div>



<script>
    // alert("height is:"+window.innerHeight+"width is:"+innerWidth)
    star1 = document.getElementById("star1");
    star2 = document.getElementById("star2");
    star3 = document.getElementById("star3");
    star4 = document.getElementById("star4");
    star5 = document.getElementById("star5");
    rating = document.getElementById("rating")
    rating = parseFloat(rating.innerText)
    
    star = '<iconify-icon icon="ph:star" width="1em"></iconify-icon>'
    half = '<img src="../zstatic/img/halfgold.png" style="height:0.85em;width:0.85em">'
    starred = '<iconify-icon icon="ic:round-star" width="1.1em" style="color:gold"></iconify-icon>'

    if(rating==1){
        star1.innerHTML=starred
        star2.innerHTML=star
        star3.innerHTML=star
        star4.innerHTML=star
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`
    }

    else if(rating==2){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=star
        star4.innerHTML=star
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }

    else if(rating==3){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=starred
        star4.innerHTML=star
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }
    else if(rating==4){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=starred
        star4.innerHTML=starred
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }
    else if(rating==5){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=starred
        star4.innerHTML=starred
        star5.innerHTML=starred
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }
    else if(rating>=1.1 && rating<=1.9){
        star1.innerHTML=starred
        star2.innerHTML=half
        star3.innerHTML=star
        star4.innerHTML=star
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }
    else if(rating>=2.1 && rating<=2.9){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=half
        star4.innerHTML=star
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }
    else if(rating>=3.1 && rating<=3.9){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=starred
        star4.innerHTML=half
        star5.innerHTML=star
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }
    else if(rating>=4.1 && rating<=4.9){
        star1.innerHTML=starred
        star2.innerHTML=starred
        star3.innerHTML=starred
        star4.innerHTML=starred
        star5.innerHTML=half
        document.getElementById("rating").innerText=`Average rating: ${rating}`

    }

</script>

</body>
</html>