<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/video_review.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datphones</title>
</head>
<body>
    <div id="find_height"></div>
<div class="videos" id="videos">
    <div class="video_item" id="video_item">
        <video controls controlsList="nodownload" src="./review1.mp4" id="video1" onended="videos.scrollBy(0,100)"></video>
    </div>
    <div class="video_item" id="video_item">
        <video controls controlsList="nodownload" src="./review2.mp4" id="video"></video>
    </div>
    <div class="video_item" id="video_item">
        <video controls controlsList="nodownload" src="./review1.mp4" id="video"></video>
    </div>
</div>

    <script>
    function playPauseVideo() {
    let videos = document.querySelectorAll("video");
    videos.forEach((video) => {
        // We can only control playback without insteraction if video is mute
        video.muted = true;
        // Play is a promise so we need to check we have it
        let playPromise = video.play();
        if (playPromise !== undefined) {
            playPromise.then((_) => {
                let observer = new IntersectionObserver(
                    (entries) => {
                        entries.forEach((entry) => {
                            if (
                                entry.intersectionRatio !== 1 &&
                                !video.paused
                            ) {
                                video.pause();
                            } 
                            else if (entry.intersectionRatio == 1 &&
                                video.paused) {
                                video.play();
                            }
                        });
                    },
                    { threshold: 1 }
                );
                observer.observe(video);
            });
        }
    });
}
playPauseVideo();

video_section = document.getElementById('videos')
// video_items = document.getElementById('video_item')
video_section.style.backgroundColor = 'red'
// video_section.style.width = `${100}%`
let actualHeight = window.innerHeight;
let elementHeight = document.getElementById('find_height').clientHeight;
let barHeight = elementHeight - actualHeight;
use_height= elementHeight - barHeight
use_height = `${use_height}px`

video_section.style.height = use_height

window.onresize=function(){
    let actualHeight = window.innerHeight;
    let elementHeight = document.getElementById('find_height').clientHeight;
    let barHeight = elementHeight - actualHeight;
    use_height= elementHeight - barHeight
    use_height = `${use_height}px`
    video_section.style.height = use_height
}







    </script>
</body>
</html>